name: Deploy Flask to Amazon Linux EC2

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            cd /home/ec2-user

            if [ ! -d flask-app ]; then
              git clone https://github.com/${{ github.repository }} flask-app
            fi

            cd flask-app
            git pull origin main

            python3 -m pip install --user --upgrade pip
            python3 -m pip install --user -r requirements.txt

            #echo "Stopping old Flask app if running"
            #pkill -f app.py || true

            echo "Starting Flask app in background"
            nohup python3 app.py > flask.log 2>&1 &

            disown
