name: Deploy Flask App
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            sudo apt update && sudo apt install python3-pip -y
            mkdir -p ~/flask_app && cd ~/flask_app
            git pull origin main || git clone https://github.com/${{ github.repository }}.git .
            pip3 install -r requirements.txt --break-system-packages
            pkill -f app.py || true
            nohup python3 app.py > log.txt 2>&1 &
            sleep 5
            exit 0
